.body1 {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 78vh;
  width: 100%;
  // margin: 20px ;
  // padding: 20px

  > .select {
    font-family: "Raleway", sans-serif;
  }

  > .Cards {
    display: flex;
    flex-direction: row;
    margin: 10px;
    max-width: 70 vw;
    margin-top: 10vh;
  }
}
