@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");


@media (min-width: 500px){

#mobile_menu{
  display: none;
}
  
nav {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: large;
  background-color: white;
  box-shadow: 0px 5px 40px rgba($color: #000000, $alpha: 0.4);
  z-index: 2;
  position: fixed;

  > h1 {
    // text-transform: uppercase;
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    margin: 10px;
    // padding: 10px;
    width: 20%;
  }

  > main {
    display: flex;
    width: 100%;
    justify-content: flex-end;

        > .isLoggedIn{
          display: flex;
          align-items: center;
          justify-content: center;
          > .icon{
            background-image: url('../Assets/profile.png');
            background-size: cover;
            height: 50%;
            width: 33px;
            margin-right: 10px;
            // background-color: aqua;
          }
          > .name{
            margin: 20px 0px;
            font-size: 20px;
            font-weight: 500;
            margin-right: 10px;
          }
        }
        > a {
            margin : 20px 10px;
            color: rgb(0, 0, 0);
            font-size: 20px;
            font-weight: 500;

            transition-duration: .3s;
        }

        > a:hover{
            color: #cd2a41;
        }
    }
  }



}

//!!!!!!!!!!!!!!!!!!!!!!!
//!!!_MOBILE_DESIGN_!!!!!
//!!!!!!!!!!!!!!!!!!!!!!!


@media (max-width: 500px){

nav{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 1.0);
  // background-color:aquamarine;
  // position: fixed;
  // margin-bottom: 30px;
  background-color:#EBEBD3;
  > h1 {
    font-family: "Raleway";
    // font-size: 20px;
  }
  > main{
    display: none;
  }
  >button{
    border: none;
  }
}

.cover{
    // background-color: aquamarine;
    // height: 11vh;
    // position: absolute;
    z-index: 3;
    display: flex;
    align-items: flex-start;

    justify-content: space-between;
    >button {
      background: none;
      border: none;
    }
}

.options{
  z-index: 3;
  position: absolute;
  display: flex;
  height: 91vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // top: 10vh;
  background-color: #083D77;
  > * {
    margin-bottom: 40px;
    font-size: 40px;
    color: #EBEBD3;
  }
}

.hide{
  display: none;
}

// @media only screen and (max-width: 500px) {
//   main{
//     // display: none;
//   }
// }
#img{
  // width: 0px;
  height: 24px;
  aspect-ratio: 1/1;
  width: 24px;
  background-image: url("../Assets/menu.png");
  background-size: cover;
  // align-items: center;
  // position: absolute;
}
@media only screen and (min-width: 500px) {
  main{
    display: none;
  }
  #img{
    display: none;
  }
  #button_mobile_menu{
    display: none;
  }
}
}