@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.home{

    // background-color: #2980b9;
    width: 100%;
    height : 100vh;
    border : null;

    > main {

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width : 100% ;
        height: 100%;
        justify-content: center;
        padding: 20px;

        > h1 { 
            font-size: 60px;
            font-family: 'Raleway', sans-serif;
            color: white;
        }

        > p {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 27px;
            color: white
        }

    }

    &::before{ 
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background: no-repeat center/auto url("../Assets/1.png") ;
        z-index: -1 ;
        // background-image: url("../Assets/1.png");
        // background-repeat: no-repeat;
        // background-position: center;
        // filter: blur( 3px );
    }
    
    
}

.home2 {
    width: 100%;
    height : 100vh ;
    background-color: #090c31;
    padding: 500px 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
    ma
}