@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@media (min-width: 500px){

.home{
    margin-bottom: 30vh;
    width: 100%;
    height : 100vh;
    border : null;
    border-radius: 0 0 200px 200px  ;

    > main {

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width : 100% ;
        height: 100%;
        justify-content: center;
        padding: 20px;
        // z-index: ;
        // filter: blur(4px);

        > h1 { 
            font-size: 60px;
            font-family: 'Raleway', sans-serif;
            color: black;
            z-index: 1;
            backdrop-filter: blur(2px);
        }

        > p {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 27px;
            color: black;
            z-index: 1;
            text-align: right;
            // backdrop-filter: blur(3px);
            // margin-bottom: 70vh;
        }

        > button {
            width: 200px;
            height: 50px;
            margin-top: 10px;
            border-radius: 30px;
            font-family: 'Raleway', sans-serif;
            font-size: 17px;

            border: 2px solid black;
            background-color: transparent;
            font-weight: 600;
            cursor: pointer;
        }
        > a{
            > button{
                width: 200px;
            height: 50px;
            margin-top: 10px;
            border-radius: 30px;
            font-family: 'Raleway', sans-serif;
            font-size: 17px;

            border: 2px solid black;
            background-color: transparent;
            font-weight: 600;
            cursor: pointer;
            }
        }
        > div{
            
            margin-top: 40px;
            
            > button {
                border-radius: 30px;
                margin-left: 10px;
                width: 150px;
                height: 50px;
                font-family: 'Raleway', sans-serif;
                font-size: 17px;

                border: 2px solid black;
                background-color: transparent;
                font-weight: 600;
                cursor: pointer;
            }

        }
        >.image {
            display: none;
        }

    }

    &::before{ 
        content: "";
        width: 90%;
        height: 100%;
        position: absolute;
        background: no-repeat left url("../Assets/graduation-cap.png") ;
        z-index: 0 ;
        // background-image: url("../Assets/1.png");
        // background-repeat: no-repeat;
        // background-position: center;
        // filter: blur( 3px );
        border-radius: 0 0 200px 200px  ;
    }
    
    
}

.home2 {
    margin-top: -30vh;
    width: 100%;
    // height : 0vh ;
    background-color: white;
    padding: 220px 0 ;
    display: flex;
    align-items:center;
    justify-content:right;
    margin-top: -200px ;
    // background-image: url("../Assets/3.jpeg");
    // filter: blur(2px);
    // background-size: cover;

   > .sidenote{
    color: red;
    padding: 111px;
    font-size: 75px;
    margin-bottom: 190px ;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: black;
           
   }

   >.sidenote_mobile{
    display: none;
   }

   > .sidenote_mobile{
    display: none;
   }

   > .box {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    // background-color: #FFE7AF;
    background-color: #EF314C;
    box-shadow:  0px 0px 40px rgba($color: #000000, $alpha: 0.5);
    margin-top: -200px ;
    height: 50vh;
    border-radius: 67px 0 0 67px  ;
    z-index: 1;
    // border-style: none;
    padding: 10px;
    border: 5px solid black;
    border-right: none;

    // > img {
    //     width: 30%;
    //     animation: imgUp 0.7s linear infinite alternate;
    // }

    // > div {
    //     width: 50%;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     padding: 20px ;
    //     // background-image: url("../Assets/3.jpeg");
    //     // background-size: cover;
    //     // backdrop-filter: blur(2px);

    //     > p {
    //         color : black;
    //         letter-spacing: 2px ;
    //         word-spacing: 5px ;
    //         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    //     }
  //    }
    >.link{
    > div {
        display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // padding: 20px;
            width: 20vw;;
            // background-color: #58C4C3;
            margin: 20px ;
            height: 42vh;
            border-radius: 60px;
            box-shadow: 0px 5px 40px rgba($color: #000000, $alpha: 0.4);
            background-color: #FFE7AF;
            border: 5px solid black;
            // padding: 50px;;
            > .pic1 {
                background-image: url("../Assets/notes.png");
                width: 15vw;
                height: 25vh;
                background-size:contain;
                background-repeat: no-repeat;
                border-radius: 10px;
                // padding: 10px;
                margin-top: 0px;
                margin-bottom: 10px;
            }
            > .pic2 {
                background-image: url("../Assets/notes.png");
                width: 15vw;
                height: 25vh;
                background-size: contain;
                background-repeat: no-repeat;
                border-radius: 10px;
                // padding: 10px;
                margin-top: 0px;
                margin-bottom: 10px;
            }
            > .pic3 {
                background-image: url("../Assets/notes.png");
                width: 15vw;
                height: 25vh;
                background-size: contain;
                background-repeat: no-repeat;
                border-radius: 10px;
                // padding: 10px;
                margin-top: 0px;
                margin-bottom: 10px;
            }
            > h5{
                font-size: 27px;
                font-family: 'Raleway', sans-serif; ;
                margin-top: 10px;
            }

    }
}
    >.link{
    > div:hover{

        animation: imgUp 0.2s linear 2 alternate;

        @keyframes imgUp {
            to {
                transform: translateY(  -10px );
            }
        }
    }}

    }
}


@keyframes imgUp {
    to {
        transform: translateY( - 10px );
    }
}

// .home3{
//     width: 100%;
//     height : 120vh ;
//     background-color: #090c31;
//     margin-top: -200px;
//     display: flex;

//     > div {
//         width: 70%;
//         height : 70vh;
//         background-color: white;
//         border-radius: 0 200px 200px 0 ;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         padding: 20px;

//         > h1 {
//             text-transform: uppercase;
//             border-bottom: 2px black;
//             padding : 4px ;
//             // width: 50px;
//             color: black;
//         }

//         > p {
//             padding : 20px ;
//             letter-spacing: 1px;
//             word-spacing: 5px;
//             font : italic 100 17px cursive;
//         }

//     }
// }

.home3 {
    // margin-top: -vh;
    width: 100%;
    // height : 100vh ;
    background-color: white;
    padding: 220px 0 ;
    display: flex;
    align-items:center;
    justify-content:left;
    margin-top: -400px ;
    // background-image: url("../Assets/3.jpeg");
    // filter: blur(2px);
    // background-size: cover;
    z-index: -1;

   > .sidenote{
    color: red;
    padding: 111px;
    font-size: 75px;
    margin-bottom: 190px ;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: black;
    // margin-right: -20px;
    margin-left: 45px;
    text-align: center;
           
   }

   >.sidenote_mobile{
    display: none;
   }

   > .box {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    // background-color: #FFE7AF;
    background-color: #34EB8F;
    box-shadow:  0px 0px 40px rgba($color: #000000, $alpha: 0.5);
    margin-top: -200px ;
    height: 50vh;
    border-radius: 0 67px 67px 0  ;
    z-index: 1;
    // border-style: none;
    padding: 0px;
    border: 5px solid black;
    border-left: none;

    // > img {
    //     width: 30%;
    //     animation: imgUp 0.7s linear infinite alternate;
    // }

    // > div {
    //     width: 50%;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     padding: 20px ;
    //     // background-image: url("../Assets/3.jpeg");
    //     // background-size: cover;
    //     // backdrop-filter: blur(2px);

    //     > p {
    //         color : black;
    //         letter-spacing: 2px ;
    //         word-spacing: 5px ;
    //         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    //     }
  //    }

    > div {
        display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
            width: 23vw;;
            // background-color: #58C4C3;
            margin: 20px ;
            height: 42vh;
            border-radius: 60px;
            box-shadow: 0px 5px 40px rgba($color: #000000, $alpha: 0.4);
            background-color: #FFE7AF;
            border: 5px solid black;
            // padding: 50px;;

            > .pic1 {
                background-image: url("../Assets/money.png");
                width: 15vw;
                height: 25vh;
                background-size:contain;
                background-repeat: no-repeat;
                border-radius: 10px;
                // padding: 10px;
                margin-top: 0px;
                margin-bottom: 10px;
            }
            > .pic2 {
                background-image: url("../Assets/scholarship.png");
                width: 15vw;
                height: 25vh;
                background-size: contain;
                background-repeat: no-repeat;
                border-radius: 10px;
                // padding: 10px;
                margin-top: 0px;
                margin-bottom: 10px;
            }
            > h5{
                font-size: 27px;
                font-family: 'Raleway', sans-serif; 
                margin-top : 10px;
                // paddi
                
            }

    }

    > div:hover{

        animation: imgUp 0.2s linear 2 alternate;

        @keyframes imgUp {
            to {
                transform: translateY(  -10px );
            }
        }
    }

    }
}


@keyframes imgUp {
    to {
        transform: translateY( - 10px );
    }
}


.home4 {
    width: 100%;
    // height : 100vh ;
    background-color: white;
    padding: 220px 0 ;
    display: flex;
    align-items:center;
    justify-content:right;
    margin-top: -400px ;
    // background-image: url("../Assets/3.jpeg");
    // filter: blur(2px);
    // background-size: cover;
    z-index: -1;

   > .sidenote{
    color: red;
    padding: 111px;
    font-size: 75px;
    margin-bottom: 190px ;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: black;
   }   
   >.sidenote_mobile{
    display: none;
   }

   > .box {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    // background-color: #FFE7AF;
    background-color: #0BCEDE;
    box-shadow:  0px 0px 40px rgba($color: #000000, $alpha: 0.5);
    margin-top: -200px ;
    height: 50vh;
    border-radius: 67px 0 0 67px  ;
    z-index: 1;
    // border-style: none;
    padding: 10px;
    border: 5px solid black;
    border-right: none;
    background-color: #EF314C;

    // > img {
    //     width: 30%;
    //     animation: imgUp 0.7s linear infinite alternate;
    // }

    // > div {
    //     width: 50%;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     padding: 20px ;
    //     // background-image: url("../Assets/3.jpeg");
    //     // background-size: cover;
    //     // backdrop-filter: blur(2px);

    //     > p {
    //         color : black;
    //         letter-spacing: 2px ;
    //         word-spacing: 5px ;
    //         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    //     }
  //    }

    > div {
        display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
            width: 23vw;;
            // background-color: #58C4C3;
            margin: 20px ;
            height: 42vh;
            border-radius: 60px;
            box-shadow: 0px 5px 40px rgba($color: #000000, $alpha: 0.4);
            background-color: #FFE7AF;
            // padding: 50px;;
            border: 5px solid black;
           

            > .pic1 {
                background-image: url("../Assets/ccs_logo.png");
                width: 15vw;
                height: 25vh;
                background-size:contain;
                background-repeat: no-repeat;
                border-radius: 10px;
                // padding: 10px;
                margin-top: 40px;
                margin-bottom: 0px;
                // padding-bottom: ;
            }
            > .pic2 {
                background-image: url("../Assets/taas_logo.png");
                width: 15vw;
                height: 29vh;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 10px;
                // padding: 10px;
                margin-top: 0px;
                margin-bottom: 10px;
            }
            > h5{
                font-size: 20px;
                font-family: 'Raleway', sans-serif; 
                text-align: center;
                // animation: typing 3s steps(40) 1s infinite;

                > a {
                    
                    @keyframes typing {
                        from {
                            width: 0;
                          }
                          to {
                            width: 100%;
                          }
                    }

                    font-size: 22px;
                    font-family: 'Raleway' , sans-serif;
                    text-align: right;

                }

            }

    }

    > div:hover{

        animation: imgUp 0.2s linear 2 alternate;

        @keyframes imgUp {
            to {
                transform: translateY(  -10px );
            }
        }
    }

    }
}


@keyframes imgUp {
    to {
        transform: translateY( - 10px );
    }
}

.home5 {
    width: 100%;
    // height : 100vh ;
    background-color: white;
    padding: 220px 0 ;
    display: flex;
    align-items:center;
    justify-content:left;
    margin-top: -400px ;
    // background-image: url("../Assets/3.jpeg");
    // filter: blur(2px);
    // background-size: cover;
    z-index: -1;

   > .sidenote{
    color: red;
    padding: 111px;
    font-size: 75px;
    margin-bottom: 190px ;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: black;
    // margin-right: 20px;
    margin-left: -45px;
    text-align: center;
    padding-right: 0px;
   }
   >.sidenote_mobile{
    display: none;
   }

   > .box {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    // background-color: #FFE7AF;
    background-color: #34EB8F;
    box-shadow:  0px 0px 40px rgba($color: #000000, $alpha: 0.5);
    margin-top: -200px ;
    height: 50vh;
    border-radius: 0 67px 67px 0  ;
    z-index: 1;
    // border-style: none;
    padding: 0px;
    border: 5px solid black;
    border-left: none;

    // > img {
    //     width: 30%;
    //     animation: imgUp 0.7s linear infinite alternate;
    // }

    // > div {
    //     width: 50%;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     padding: 20px ;
    //     // background-image: url("../Assets/3.jpeg");
    //     // background-size: cover;
    //     // backdrop-filter: blur(2px);

    //     > p {
    //         color : black;
    //         letter-spacing: 2px ;
    //         word-spacing: 5px ;
    //         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    //     }
  //    }

    > div {
        display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
            width: 23vw;;
            // background-color: #58C4C3;
            margin: 20px ;
            height: 42vh;
            border-radius: 60px;
            box-shadow: 0px 5px 40px rgba($color: #000000, $alpha: 0.4);
            background-color: #FFE7AF;
            border: 5px solid black;
            // padding: 50px;;

            > .pic1 {
                background-image: url("../Assets/MIcrodoft.png");
                width: 15vw;
                height: 25vh;
                background-size:contain;
                background-repeat: no-repeat;
                background-position: center;
                // border-radius: 0px;
                // padding: 10px;
                margin-top: 0px;
                // margin-bottom: 5px;
                background-size: 70%;
            }
            > .pic2 {
                background-image: url("../Assets/google.png");
                width: 15vw;
                height: 25vh;
                background-size: contain;
                background-repeat: no-repeat;
                border-radius: 10px;
                // padding: 10px;
                margin-top: 0px;
                margin-bottom: 0px;
                background-position: center;
                background-size: 70%;
            }
            > .pic3 {
                background-image: url("../Assets/CODENINJAS.png");
                width: 15vw;
                height: 26vh;
                background-size:cover;
                background-repeat: no-repeat;
                border-radius: 10px;
                // padding: 10px;
                margin-top: 0px;
                margin-bottom: 20px;
            }
            > h5{
                font-size: 27px;
                font-family: 'Raleway', sans-serif; 
                margin-top : 10px;
                text-align: center;
                // paddi
            }

    }

    > div:hover{

        animation: imgUp 0.2s linear 2 alternate;

        @keyframes imgUp {
            to {
                transform: translateY(  -10px );
            }
        }
    }

    }
}


@keyframes imgUp {
    to {
        transform: translateY( - 10px );
    }
}

.home6 {
    width: 100%;
    // height : 70vh ;
    background-color: white;
    padding: 200px 0 ;
    display: flex;
    align-items:center;
    justify-content:right;
    margin-top: -400px ;
    // background-image: url("../Assets/3.jpeg");
    // filter: blur(2px);
    // background-size: cover;
    z-index: -1;
    padding-bottom: 01px;

   > .sidenote{
    color: red;
    padding: 111px;
    font-size: 75px;
    margin-bottom: 190px ;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: black;
    // padding-right: 0px;
    text-align: center;
   }   
   >.sidenote_mobile{
    display: none;
   }

   > .box {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    background-color: #0BCEDE;
    box-shadow:  0px 0px 40px rgba($color: #000000, $alpha: 0.5);
    margin-top: -200px ;
    height: 50vh;
    border-radius: 67px 0 0 67px  ;
    z-index: 1;
    // border-style: none;
    padding: 10px;
    border: 5px solid black;
    border-right: none;
    background-color: #EF314C;

    > p {
        font-family: 'Raleway', sans-serif;
        margin: 10px;
        letter-spacing: 1px;
        word-spacing: 5px;
        font-size:20px;
        font-weight: bold;
        text-align: center;
    }

    }
}
}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
// !!!!!!!!!!!!!!!!!!!!!!! New Design !!!!!!!!!!!!!!!!!!!!!!!!
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!


@media (max-width: 500px){

    *{
        color: #083D77;
    }

    .home{
        display: flex;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: white;
        width: 100%;
        >main{
            width: 100%;
            > h1{
                position: relative;
                // top: 30%;
                text-align: left;
                margin-left: 25px;
            }
            > p {
                text-align: left;
                margin-left: 25px;
                position: relative;
                // top: 30%;
            }
            > a {
                position: relative;
                // top: 30%;
                display: flex;
                // justify-content: ;
                padding: 10px 25px;
                > button {
                    border: none;
                    padding: 10px;
                    background-color: #F4D35E;
                    border-radius: 20px;
                    font-size: 15px;
                    border: 1px solid black;
                }
            }   
            > div{
                position: relative;
                // top: 30%;
                display: flex;
                // justify-content: flex-end;
                padding: 10px 15px 0px 22px ;
                > button {
                    border: none;
                    padding: 10px;
                    background-color: white;
                    border-radius: 20px;
                    font-size: 15px;
                    background-color:#34ed90;
                    margin: 0px 3px;
                    border: 1px solid #083D77;
                }
            }

            >.image{
                background-image: url("../Assets/graduation-cap.png");
                width: 200px;
                background-position: center;
                background-size: contain;
                aspect-ratio: 1/1;
                right: -1%;
            }
        }
    }
    .home2{
    margin-top: 30px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // color: aquamarine !important;
    // margin-bottom: -10px;

    >.sidenote{
        display: none;
    }
    
    > .sidenote_mobile{
        font-size: 30px;
        width: 90%;
        // color: #1ac6ff;
        padding: 0px 0px;
        text-align: left;
        border-bottom: 2px solid black;
        margin-bottom: 10px;
        >.notes{
            padding:5px 0px;
            width: 100%;
            text-align: left;
            font-family: "Raleway";
            font-size: 27px;
            background-color: white;
            border: none;
        }
        > .show{
            display: flex;
            width: 95%;
            font-size: large;
            justify-content: space-between;
            margin: 10px 0px;
        }
        > .hide{
            display: none;
        }
    }
    .box{
        display: none;
        width: 90%;
        justify-content: space-between;
        padding: 10px 3px;
        
        > .link{
            // color: aqua;
            display: flex;
            justify-content: center;
            align-items: center;
            height:80px;
            width: 110px;
            border-radius: 19px;
            box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 1.0);
            > .note1 {
                > h5{
                    forced-color-adjust: auto;
                    color: aqua;
                }
            }
        }
    }
    > .dropdown{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        > #Notes{
            width: 90%;
            // background-color: #34ed90;
            height: 35px;
            font-family: "Raleway";
            font-size: 20px;
            font-weight: 500;
            border-radius:5px;
        }
    }
}
.home3{
    display: flex;
    margin-top: 10px;
    flex-direction: column-reverse;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    > .sidenote{
        display: none;
        font-size: 30px;
        width: 90%;
        padding: 0px 10px;
        text-align: left;
        border-bottom: 2px solid black;
    }
    > .sidenote_mobile{
        font-size: 30px;
        width: 90%;
        // color: #1ac6ff;
        padding: 0px 0px;
        text-align: left;
        border-bottom: 2px solid black;
        margin-bottom: 10px;
        >.finance{
            padding:5px 0px;
            width: 100%;
            text-align: left;
            font-family: "Raleway";
            font-size: 27px;
            background-color: white;
            border: none;
        }
        > .show{
            display: flex;
            width: 95%;
            font-size: large;
            justify-content: space-between;
            margin: 10px 0px;
        }
        > .hide{
            display: none;
        }
    }
    > .box{
        display: none;
        width: 90%;
        justify-content: space-between;
        padding: 19px 3px;
        
        > .note1{
            box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 1.0);
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 170px;
            border-radius: 19px;
        }
        > .note2{
            box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 1.0);
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 170px;
            border-radius: 19px;
        }
    }
}
.home4{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    // margin-top: ;

    > .sidenote{
        display: none;
        font-size: 30px;
        width: 90%;
        padding: 0px 10px;
        text-align: left;
        border-bottom: 2px solid black;
    }
    > .sidenote_mobile{
        font-size: 30px;
        width: 90%;
        // color: #1ac6ff;
        padding: 0px 0px;
        text-align: left;
        border-bottom: 2px solid black;
        margin-bottom: 10px;
        >.society{
            padding:5px 0px;
            width: 100%;
            text-align: left;
            font-family: "Raleway";
            font-size: 27px;
            background-color: white;
            border: none;
        }
        > .show{
            // padding-top: 5px;
            // border-top: 2px solid black;
            display: flex;
            width: 95%;
            font-size: large;
            justify-content: space-between;
            margin: 10px 0px;
        }
        > .hide{
            display: none;
        }
    }
    > .box{
        display: none;
        width: 90%;
        justify-content: space-between;
        padding: 19px 3px;
        
        > .note1{
            box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 1.0);
            height: 80px;
            display: flex;

            justify-content: center;
            align-items: center;
            width: 170px;
            border-radius: 19px;
            > h5{
                text-align: center;
            }
        }
        > .note2{
            box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 1.0);
            height: 80px;
            display: flex;

            justify-content: center;
            align-items: center;
            width: 170px;
            border-radius: 19px;
            > h5{
                text-align: center;
            }
        }
    }
}
.home5{
    display: flex;
    margin-top: 10px;
    flex-direction: column-reverse;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    > .sidenote{
        display: none;
        font-size: 30px;
        width: 90%;
        padding: 0px 10px;
        text-align: left;
        border-bottom: 2px solid black;
    }
    > .sidenote_mobile{
        font-size: 30px;
        width: 90%;
        // color: #1ac6ff;
        padding: 0px 0px;
        text-align: left;
        border-bottom: 2px solid black;
        margin-bottom: 10px;
        >.events{
            padding:5px 0px;
            width: 100%;
            text-align: left;
            font-family: "Raleway";
            font-size: 27px;
            background-color: white;
            border: none;
        }
        > .show{
            // padding-top: 5px;
            // border-top: 2px solid black;
            display: flex;
            width: 95%;
            font-size: large;
            justify-content: space-between;
            margin: 10px 0px;
        }
        > .hide{
            display: none;
        }
    }
    > .box{
        display: none;
        width: 90%;
        justify-content: space-between;
        padding: 19px 3px;
        
        > .note1{
            box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 1.0);
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 110px;
            border-radius: 19px;
            > h5{
                font-size: small;
                text-align: center;
            }
        }

        > .note2{
            box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 1.0);
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 110px;
            border-radius: 19px;
            > h5{
                font-size: small;
                text-align: center;
            }
        }

        > .note3{
            box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 1.0);
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 110px;
            border-radius: 19px;
            > h5{
                font-size: small;
                text-align: center;
            }
        }

    }
}
.home6{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    > .sidenote{
        display: none;
        font-size: 30px;
        width: 90%;
        padding: 0px 10px;
        text-align: left;
        border-bottom: 2px solid black;
    }
    > .sidenote_mobile{
        font-size: 30px;
        width: 90%;
        // color: #1ac6ff;
        padding: 0px 0px;
        text-align: left;
        border-bottom: 2px solid black;
        margin-bottom: 10px;
        >.about{
            padding:5px 0px;
            width: 100%;
            text-align: left;
            font-family: "Raleway";
            font-size: 27px;
            background-color: white;
            border: none;
        }
        > .show{
            display: flex;
            width: 95%;
            font-size: large;
            justify-content: space-between;
            margin: 10px 0px;
            // padding-top: 5px;
            // border-top: 2px solid black;
        }
        > .hide{
            display: none;
        }
    }
    > .box{
        display: none;
        width: 90%;
        justify-content: space-between;
        padding: 19px 3px;
        
        > .note1{
            box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 1.0);
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 170px;
            border-radius: 19px;
        }
        > .note2{
            box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 1.0);
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 170px;
            border-radius: 19px;
        }
    }
}
}