@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.home{

    // background-color: #2980b9;
    width: 100%;
    height : 100vh;
    border : null;
    border-radius: 0 0 200px 200px  ;

    > main {

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width : 100% ;
        height: 100%;
        justify-content: center;
        padding: 20px;
        // z-index: ;

        > h1 { 
            font-size: 60px;
            font-family: 'Raleway', sans-serif;
            color: white;
            z-index: 1;
        }

        > p {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 27px;
            color: white;
            z-index: 1;
        }

    }

    &::before{ 
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background: no-repeat center/auto url("../Assets/1.png") ;
        z-index: 0 ;
        // background-image: url("../Assets/1.png");
        // background-repeat: no-repeat;
        // background-position: center;
        // filter: blur( 3px );
        border-radius: 0 0 200px 200px  ;
    }
    
    
}

.home2 {
    width: 100%;
    height : 100vh ;
    background-color: #090c31;
    padding: 500px 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -200px ;

    > img {
        width: 30%;
        animation: imgUp 0.7s linear infinite alternate;
    }

    > div {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px ;

        > p {
            color : white ;
            letter-spacing: 2px ;
            word-spacing: 5px ;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    }
}


@keyframes imgUp {
    to {
        transform: translateY( - 10px );
    }
}

.home3{
    width: 100%;
    height : 120vh ;
    background-color: #090c31;
    margin-top: -200px;
    display: flex;

    > div {
        width: 70%;
        height : 100vh;
        background-color: white;
        border-radius: 0 200px 200px 0 ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;

        > h1 {
            text-transform: uppercase;
            border-bottom: 2px black;
            padding : 4px ;
            // width: 50px;
            color: black;
        }

        > p {
            padding : 20px ;
            letter-spacing: 1px;
            word-spacing: 5px;
            font : italic 100 17px cursive;
        }

    }
}