@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.otherBody{
    width: 100%;
    height: 100vh;
    // background-color:#9f9f9f;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    > .show-more-link{
        // margin-top: 400px;
        width: 35vw;
        height: 10vh;
        border: none;
        border-radius: 8px;
        font-family: 'Raleway', sans-serif;
        font-size: xx-large;
        box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.4);
        margin: 10px;
        transition: background-color,box-shadow 0.3s ease;
    }
    > .show-more-link:hover{
        background-color: greenyellow;
        box-shadow: 0 0 30px rgba($color: #000000, $alpha: 0.8);
    }
    > .calculator{
        background-color: white;
        width: 35vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        box-shadow: 0 0 20px rgba($color: #000000, $alpha: 1.0);

        >h1{
            font-family: 'Raleway', sans-serif;
            margin: 10px;
        }

        > table{
            > thead{
                >th{
                    font-family: 'Raleway', sans-serif;
                    font-size: 20px ;
                }
            }
            > tbody{
                >tr{
                    >td{
                        margin: 5px;
                    >select{
                        margin: 5px;
                        padding: 4px;
                        background-color: white;
                        font-family: 'Ralway', sans-serif;
                        font-size: 20px ;
                        border: none;
                        border-radius: 8px;
                        box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.2);
                       > option{
                        padding: 4px;
                        background-color:white;
                        font-family: 'Ralway', sans-serif;
                        font-size: 20px ;
                        border: none;
                        border-radius: 8px;
                        box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.2);
                       }
                    }
                }
                }
            }
        }

        > .last-row{
            display: flex;
            margin: 15px;
            >.col{
                margin: 5px;
                >#calc-gp{
                    padding: 8px;
                    background-color:rgb(176, 255, 57);
                    font-family: 'Ralway', sans-serif;
                    font-size: 20px ;
                    border: none;
                    border-radius: 8px;
                    box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.2);
                }
                > #output{
                    padding: 8px;
                    font-family: 'Ralway', sans-serif;
                    font-size: 20px ;
                    border: none;
                    box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.2);
                    border-radius: 8px;
                }
            }
        }

    }

    > .wifi_password{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        >button{
            width: 35vw;
            height: 10vh;
            border: none;
            border-radius: 8px;
            font-family: 'Raleway', sans-serif;
            font-size: xx-large;
            box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.4);
            margin: 10px;
            transition: background-color,box-shadow 0.3s ease;
        }
        > button:hover{
            background-color: orange;
            box-shadow: 0 0 30px rgba($color: #000000, $alpha: 0.8);
        }
    
        > .body-wifi-pass{
            width: 35vw;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.5);
            padding: 10px;
            > .row-wifi-pass{
                margin: 5px;
                font-family: 'Raleway', sans-serif;
                font-size: larger;
            }
        }
    }
    > .academic-calendar{
            width: 35vw;
            height: 10vh;
            border: none;
            border-radius: 8px;
            font-family: 'Raleway', sans-serif;
            font-size: xx-large;
            box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.4);
            margin: 10px;
            transition: background-color,box-shadow 0.3s ease;
            > a {
                text-align: center;
                width: 35vw;
                display: block;
            }

    }
}